*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	display: flex;
	color: #333;
	color: rgba(0,0,0,.8);
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	flex-direction: column;
	min-height: 100vh;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: #32a75d;
	text-align: center;
}
.logo {
	display: inline-block;
	font-size: 40px;
	font-family: 'Lora', serif;
	color: #fff;
	margin:0;
	padding:20px;
	text-decoration: none;
	font-weight: 600;
	transition: text-shadow ease-in-out .1s;

}
.logo:hover {
	text-shadow: 0px 1px 0 rgba(0,0,0,.5);
}

.content {
	background: #fff;
	margin: 0 auto;
	padding: 20px 0;
	flex-grow: 1;
	width: 100%;
}

.content p {
	margin: 0 0 10px;
}

.page-title {
	text-align: center;
	font-family: 'Lora', serif;
}

.page-title a {
	color: inherit;
}
.page-title a:hover {
	text-decoration: none;
}

.btn {
	border:0;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 20px;
	background: #32A75D;
	color: #fff;
	border-radius: 3px;
	transition: background-color ease .2s;
}
.btn:hover {
	background-color: #35b162;
}


.issue-cover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}

/**
 * Last issue
 */
.last-issue {
	font-size: 30px;
	text-align: center;
	padding: 25px;
}

.last-issue__cover {
	width: 100%;
	max-width:500px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}

.last-issue__title {
	font-family: 'Lora', serif;
	margin: 0;
}

.last-issue__description {
	font-family: 'Lora', serif;
	margin: 10px 0;
	font-weight: normal;
}

/**
 * Issues list
 */
.issues-list__year-title {
	font-family: 'Lora', serif;
	background: #F7F7F7;
	text-align: center;
	padding: 30px;
	font-size: 35px;
}
.issues-list__month-title {
	font-weight: normal;
	background: #A5D6A7;
	padding:10px 20px;
}

/**
 * Issue block
 */
.issue {
	display:inline-block;
	margin: 5px 10px;
	color: #000;
	text-decoration: none;
}

.issue__cover {
	height: 250px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
}

.issue__description {

	margin: 3px 10px;
	font-size: 14px;
}
.issue__description__date {
	float: right;
}

.download-button {
	background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 490 490"><path fill="#FFF" d="M364.1 251.3c-7-7-18.4-7-25.5 0L263 327.1V130.9c0-9.9-8.1-18-18-18s-18 8.1-18 18v196.2l-75.8-75.8c-7-7-18.4-7-25.5 0-7 7-7 18.4 0 25.5l106.5 106.5c3.5 3.5 8.1 5.3 12.7 5.3s9.2-1.8 12.7-5.3l106.5-106.5c7-7 7-18.4 0-25.5zM245 0c-9.9 0-18 8.1-18 18v41.2c0 9.9 8.1 18 18 18s18-8.1 18-18V18c0-9.9-8.1-18-18-18z"/><path fill="#FFF" d="M438.2 334.9c-9.9 0-18 8.1-18 18V454H69.8V352.9c0-9.9-8.1-18-18-18s-18 8.1-18 18V472c0 9.9 8.1 18 18 18h386.3c10 0 18.1-8.1 18.1-18V352.9c0-9.9-8.1-18-18-18z"/></svg>');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
}


.footer {
	background: #F7F7F7;
	color:#777;
	font-size: 14px;
	padding: 20px;
}
.footer a {
	color: inherit;
}

/* Editor specific CSS ********************************************************/

/**
 * Invoices list
 */
.invoices {
	padding: 0;
}
.invoices .invoice {
	display: flex;
	padding: 15px;
}
.invoice_status_error {
	background: #f2dede;
}
.invoice_status_success {
	background: #dff0d8;
}
.invoice_status_none {
	background: #fcf8e3;
}
.invoice__id {
	min-width:80px;
	color:#777;
	margin-right:5px;
}
.invoice__description {
	flex-grow: 1;
}

/**
 * Issue edit form
 */
.issue-form {
	float:left;
}
.issue-form input {
	font-size: 25px;
	padding: 5px;
	border: 2px solid #32A75D;
	border-radius: 3px;
}

.issue-form__date {
	width: 100%;
}

.new-issue-dropzone {
	position: relative;
	border: 2px dashed #32A75D;
	cursor: pointer;
	height:500px;
	width:370px;
	min-height: 150px;
	margin-right: 20px;
	text-align: center;
	font-size: 1em;
	float:left;
}

.new-issue-dropzone.issue-upload-drop {
	background: #BADAC9;
}
.new-issue-dropzone.issue-upload-error {
	background: #FF836B;
	border: 2px dashed #FF0514;
	color: #FF0514;
}

.issue-upload-form-preloader {
	display: none;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	height:20px;
	background: #32A75D;
	opacity: 0.8;
}

.new-issue-dropzone .issue-upload-input {
	display: none;
}

.new-issue-dropzone.drop-unsupported .issue-upload-input {
	display: block;
}

.issue-upload-preview {
	display: none;
	height:100%;
	margin: 0 auto;
}
.issue-upload-preview-displayed {
	display: block;
}

.issue-upload-title {
	-webkit-user-select: none;
	user-select: none;
	color: #32A75D;
	font-size: 16px;
	margin:0 10px;
}

.issue-form__remove-button {
	background: transparent;
	border: 1px solid;
	border-radius: 3px;
	color: #e57373;
	cursor: pointer;
	margin-top:20px;
}
